
<% content_for :header do %>
	<script type='text/javascript' src='/js/socket.js'></script>

	<script type="text/javascript">
		var App = new Class({
			initialize: function() {
				var referrer_url = encodeURIComponent(document.location.href);
				this.websocket = new JSONSocket({
					url: 'ws://localhost:4567/sinatra/live-pages/ws?url=' + referrer_url,
					on_exec: function(data) {
						$(data.selector)[data.method](data.content);
					},

					on_message: function(data) {
						console.log('live pages: ' + data.content);
					}

				});
			}
		});

		$(document).ready(function() {
			window._app = new App();
		});
	</script>

	<style type="text/css">
		body {
			font-family: arial;
			margin: 16px;
		}

	</style>
<% end %>

<% content_for :body do %>
	<h1 id='js-count'>...</h1>
	<h1 id='js-sum'>...</h1>
	<h1 id='js-avg'>...</h1>
<% end %>
